/* body {
    background-image: url("img_tree.gif");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  div {
    color: blue;
    font-size: 50px;
  }

  