body {
    background-image: url("https://images.pexels.com/photos/4253621/pexels-photo-4253621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 50%;
    color: white;
  }

  h1 {
    /* color: blue; */
    text-align: center;
    font-size: 50px;
  }

  .header {
    color: red;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 255, 128);
  }
  
  table {
    margin: auto;
  }

  th, td {
    padding-left: 25px;
    padding-top: 5px;
    text-align: center;
  }

  .row1 {
    display: flex;
    margin-top: 50px;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .player, .house {
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
  }